body{
	margin: 0;
	padding: 0;
}
.container{
	width:100%;
	height:auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.about{
	width:100%;
	height: 600px;
	background-image: url(https://i.ibb.co/9bZPZgp/dsc4641-copy-880074f1fd6d9422f6c3fded126a54c8.jpg); /*Couldn't link the image so i used linear-gradient background LOL!*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text{
	font-size: 30px;
	color:#fff;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width:200px;
	height: 8px;
	background-color: #17ff8d;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}
.content{
	width:100%;
	height:auto;
	background-color: #17ff8d;
	font-size: 23px;
	font-family: audiowide;
	color:#333;
	line-height: 30px;
	text-align: center;
}
b{
	font-size: 50px;
	color:#000;
	font-weight: 500px;
}
footer{
	width:100%;
	height: auto;
	background-color: #333;
	color: #17ff8d;
	font-size: 23px;
	text-align: center;
	line-height: 50px;
}

*
{
padding:0;
margin:0;
}

.menu-bar
{
	background:rgb(0,100,0);
	text-align:center;
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:white;
}
.menu-bar li
{
	width:120px;
	margin:15px;
	padding:15px;
}
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
}
.active,.menu-bar ul li:hover
{
	background-color:#2bab0d;
	border-radius:3px;
}
.menu-bar .fa
{
	margin-right:8px;
}
.sub-menu
{
	display:none;
}

.menu-bar ul li:hover .sub-menu
{
	display:block;
	position:absolute;
	background-color:rgb(0,100,0);
	margin-top:15px;
	margin-left:15px;

}

.menu-bar ul li:hover .sub-menu ul
{
	display:block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu ul li
{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align: left;

}
.menu-bar ul li:hover .sub-menu ul li:last-child
{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover
{
	color:#2bff00;
}
.logo img{
	float:left;
	width:150px;
	height: 120px;

}
