*
{
padding:0;
margin:0;
}
body
{
//background-image:url(images.jpg);
background-size:cover;
background-position:center;
box-sizing:border-box;
font-family:san-serif;

}
.menu-bar
{
	background:rgb(0,100,0);
	text-align:center;
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:white;
}
.menu-bar li
{
	width:120px;
	margin:15px;
	padding:15px;
}
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
}
.active,.menu-bar ul li:hover
{
	background-color:#2bab0d;
	border-radius:3px;
}
.menu-bar .fa
{
	margin-right:8px;
}
.sub-menu
{
	display:none;
}

.menu-bar ul li:hover .sub-menu
{
	display:block;
	position:absolute;
	background-color:rgb(0,100,0);
	margin-top:15px;
	margin-left:15px;

}

.menu-bar ul li:hover .sub-menu ul
{
	display:block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu ul li
{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align: left;

}
.menu-bar ul li:hover .sub-menu ul li:last-child
{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover
{
	color:#2bff00;
}
.logo img{
	float:left;
	width:150px;
	height: 78px;

}
